<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">AngularJS App</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a ui-sref="root.home" href="#">Home</a></li>
                <li><a ui-sref="root.about" href="#">About</a></li>
                <li><a ui-sref="root.signup" href="#">Sign Up</a></li>
                <li><a ui-sref="root.restricted" href="#">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ng-if="!user" ng-click="login()"><span class="glyphicon glyphicon-log-in"></span> Sign In</a>
                    <a ng-if="user" ng-click="logout()"><span class="glyphicon glyphicon-log-in"></span> Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
