<div class="sidenav">
    <div class="login-main-text">
        <h2>
            <br />
            Sign Up Page
        </h2>
        <p>Register here to access the application</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form ng-submit="signUp()">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input
                        type="text"
                        class="form-control"
                        id="name"
                        ng-model="name"
                        placeholder="Enter Name"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        ng-model="email"
                        placeholder="Enter email"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input
                        type="password"
                        class="form-control"
                        id="pwd"
                        ng-model="password"
                        placeholder="Enter password"
                        required
                    />
                </div>
                <button type="submit" class="btn btn-black" ng-disabled="isLoading">Submit</button>
                <h5 ng-if="isLoading" style="color: red">In Progress...</h5>
            </form>
        </div>
    </div>
</div>
